* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: #FFF8F3;
  background-image: url(images/developer.png);
  background-repeat: no-repeat;
  background-position: 36px 23px;
}

nav {
  width: 80%;
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

nav div h2 {
  font-size: 45px;
  font-weight: bolder;
  color: #181818;
}

.orange-text {
  color: #FD6E0A;
}

nav div {
  display: flex;
  gap: 40px;
  align-items: center;
}

nav div ul {
  display: flex;
  list-style: none;
  gap: 32px;
  font-size: 20px;
  color: #474747;
  cursor: pointer;
}

nav div ul li:hover {
  color: #FD6E0A;
  transition: 300ms;
}

.btn {
  background-color: #FD6E0A;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #FD6E0A;
  border-radius: 5px;
  padding: 18px 36px;
  transition: 300ms;
}

.btn:hover {
  background-color: #000000;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 18px 36px;
  cursor: pointer;
  transform: scale(.95);
  transition: 300ms;
}

.btn1 {
  background-color: transparent;
  color: #FD6E0A;
  border: solid 1px #FD6E0A;
  transition: 300ms;
}

/* hero continer */
.hero-continer {
  display: flex;
  padding-top: 50px;
  margin: 47px 00px 60px 181px;
  justify-content: space-between;
  max-width: 1320px;
  align-items: center;
}

header div div h2 {
  font-size: 45px;
  color: #474747;
  line-height: 61px;
  font-weight: 500;
}

header div div h1 {
  font-size: 85px;
  color: #181818;
  line-height: 116px;
  font-weight: bold;
}

header div div p {
  font-size: 18px;
  color: #474747;
  padding-bottom: 60px;
  padding-top: 30px;
}

header div div div {
  display: flex;
  gap: 20px;
  width: 100%;
}

header div div {
  width: 50%;
}

.img-box {
  width: 50%;
  background-image: url(images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  display: flex;
  justify-content: flex-end;

}

header div div img {
  padding-right: 40px;
}

/* about section */
.about-continer {
  width: 80%;
  max-width: 1140px;
  margin: 130px auto;
  background-color: #FFF8F3;
  border-radius: 10px;
  padding: 131px 120px;
  justify-items: center;
  text-align: center;
  box-sizing: border-box;
}

.section-title {
  font-size: 35px;
  line-height: 48px;
  font-weight: 700;
  color: #181818;
}

.section-text {
  width: 827px;
  color: #474747;
  font-size: 18px;
  padding: 30px 0px;

}

.about-info {
  display: flex;
  gap: 50px;
}

.title-1 {
  font-size: 20px;
  font-weight: 400;
  color: #868585;
  padding-bottom: 10px;
}

.title-2 {
  font-size: 20px;
  font-weight: bold;
  color: #474747;
}

.title-2 a {
  font-size: 20px;
  font-weight: bold;
  color: #474747;
  text-decoration: none;
}

/* service section */
.service-continer {
  width: 80%;
  max-width: 1140px;
  margin: 130px auto;
  box-sizing: border-box;
  text-align: center;
  justify-items: center;

}

.card-box {
  display: flex;
  gap: 30px;
}

.card {
  padding: 30px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  justify-items: left;
  text-align: left;
}

.card img {
  width: 44px;
}

.card h3 {
  font-size: 20px;
  color: #181818;
  padding: 15px 0px;
}

.card p {
  font-size: 16px;
  color: #757575;
}

.Resume-section {
  width: 80%;
  max-width: 1140px;
  box-sizing: border-box;
  text-align: center;
  justify-items: center;
  margin: auto;
  margin-bottom: 130px;
}

.Resume-section div {
  display: flex;
  gap: 50px;
  padding-bottom: 30px;
}

.Resume-section div div {
  display: block;
  gap: 0px;
}

.Resume-section div div h3 {
  font-size: 30px;
  font-weight: bold;
  color: #474747;
  text-align: left;
  padding-top: 90px;
}

.Resume-section div div div {
  display: block;
  text-align: left;
}

.Resume-section div div div h3 {
  font-size: 25px;
  padding-top: 20px;
  font-weight: 700;
}

.Resume-section div div div h4 {
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  padding-top: 10px;
}

.Resume-section div div div p {
  font-size: 16px;
  color: #757575;
  padding: 30px 0px;
}

.box {
  border-top: 1px solid #D1D1D1;
  border-bottom: 1px solid #D1D1D1;
}

/* footer section */
.footer-section {
  background-color: #FFF8F3;
}

.footer-continer {
  width: 80%;
  max-width: 1140px;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  padding: 130px 0px;
  gap: 80px;
}

.social-icon img {
  padding-right: 24px;
}

.footer-text {
  width: 50%;
}

.footer-form {
  width: 50%;
}

.text-footer {
  width: 100%;
}

form {
  margin-top: 20px;
}

input {
  background-color: white;
  padding: 18px 30px;
  margin: 10px 0px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
}

textarea {
  background-color: white;
  padding: 18px 30px;
  margin: 10px 0px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
}

.input-btn {
  width: 30%;
}